@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Prompt', sans-serif;
  background-color: #012d5e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vue-form form {
  padding: 20px;
}
.vue-form fieldset {
  padding: 15px;

}
.vue-form legend {
  font-size: 1em;
  color: #27a743;

}
.vue-form .label {
  display: block;
}
.vue-form input,
.vue-form textarea,
.vue-form select,
.vue-form label {
  color: #bbc7d4;
}
.vue-form input[type="text"],
.vue-form input[type="email"],
.vue-form textarea,
.vue-form select,
.vue-form legend {
  display: block;
  width: 100%;
  appearance: none;
}